<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <li class="navbar-brand "style="margin: 0 20px 0 0"><%= link_to "CantThinkOfANameYet", root_path %></li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="form-inline my-2 my-lg-0">
      <%= form_tag search_items_path, method: :get do %>
        <%= text_field_tag :search, nil, placeholder: "Search", class: "form-control mr-sm-2" %>
        <%= submit_tag "Search", class:"btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </div>
    <ul class="navbar-nav ml-auto">
      <% if account_signed_in? %>
        <li style="margin: 10px 30px 10px 0"><%= link_to "Shop", items_path %></li>
        <li style="margin: 10px 30px 10px 0"><%= link_to "Sell", new_item_path %></li>
        <li style="margin: 10px 30px 10px 0"><%= link_to "Wishlist", account_wishlist_path %></li>
        <li style="margin: 10px 30px 10px 0"><%= link_to "Cart", cart_session_path %></li>
        <li style="margin: 10px 30px 10px 0"><%= link_to "Account", edit_account_registration_path %></li>
      <% else %>
        <li style="margin: 10px 30px 10px 0"><%= link_to "Shop", items_path %></li>
        <li style="margin: 10px 30px 10px 0"><%= link_to "Sell", new_item_path %></li>
        <li style="margin: 10px 30px 10px 0"><%= link_to "Log In", new_account_session_path %></li>
        <li style="margin: 10px 30px 10px 0"><%= link_to "Sign Up", new_account_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>