<details>
  <summary>Cart</summary>
  <ul>
    <% if @cart.empty? %>
      <p>No items in cart.</p>
    <% else %>
      <% @cart.each do |item| %>
        <li><%= item.title %> - <%= link_to 'Remove from Cart', remove_from_cart_path(item.id), method: :delete %></li>
      <% end %>
    <% end %>
  </ul>
</details>

<main class="main">
  <p id="notice"><%= notice %></p>

  <div class="container">
    <div class="container__item">
      <% @items.each do |item| %>
        <div class="container__item--info">
          <div class="container__item--info--image">
            <%= link_to image_tag(item.image, style:"width:100%"), item %>
          </div>
          <div class="container__item--info--text">
            <p><%= item.title %></p>
            <p><%= item.category %></p>
            <p>Price: <%= number_to_currency item.price %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
