<p id="notice"><%= notice %></p>

<div class="form-container">
<h1>Shop</h1>

<table>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.category %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
