<main class="main">
  <p id="notice"><%= notice %></p>

  <div class="container">
    <div class="container__item">
      <% @items.each do |item| %>
        <div class="container__item--info">
          <div class="container__item--info--image">
            <%= link_to image_tag(item.image, style:"width:100%"), item %>
          </div>
          <p><%= item.category %></p>
          <p><%= item.title %></p>
          <p><%= item.price %></p>
        </div>
      <% end %>
    </div>
  </div>
</main>
