<p id="notice"><%= notice %></p>

<div style="width:400px, height:auto;">
  <%= image_tag(@item.image, style:"width:100%") %>
</div>

<p><%= @item.title %></p>

<p>
  <strong>Description</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @item.price %>
</p>

<%= link_to 'Add to Wishlist', account_wishlist_items_update_path(item: @item), id:'wishlist_link' %>

<% if current_account == @item.account %>
  <%= link_to 'Back', items_path %> |
  <%= link_to 'Edit Listing', edit_item_path(@item) %>
<% else %>
  <% if @cart.include?(@item) %>
    <p><%= button_to 'Remove from Cart', remove_from_cart_path(@item), method: :delete %></p>
  <% else %>
    <p><%= button_to 'Purchase', add_to_cart_path(@item.id), method: :post %></p>
  <% end %>
  <%= link_to 'Back', items_path %> 
<% end %>

